html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 18px;
  font-family: 'Montserrat';
  color: black;
}

h1 {
	margin-top: 0;
	font-family: 'Playfair Display';
}

h2 {
  font-family: 'Cinzel';
  letter-spacing: 0.1rem;
  padding-bottom: 0.1rem;
}

header {
	background: #A8DEE0;
}

nav a {
  text-decoration: none;
  color: black;
}

.box {
  background-color: rgba(255, 227, 234, 1);
  font-family: 'Cinzel';
  letter-spacing: 0.1rem;
  border: thick double black;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content {
  display: flex;
  justify-content: center;
  padding: 0rem 0rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Playfair Display';
  text-decoration: none;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content nav {
  display: flex;
  justify-content: space-around;
  color: black;
  border-top: thin solid black;
  border-bottom: thin solid black;
  margin: 0 auto;
  padding: 0rem 0rem;
  height: 3rem;
  background-color: rgba(255, 227, 234, 0.3);
}

.content nav a {
  height: 2rem;
  width: 100%;
  padding-top: 1rem;
  background-color: white;
  transition: background-color 0.2s ease-in 0s;
}

.content nav a:hover {
  color: black;
  background-color: rgba(255, 227, 234, 0.5);
  height: 2rem;
}

.content nav a:active {
  color: black;
  font-weight: bold;
  background-color: rgba(255, 227, 234, 0.5);
  height: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}



.content nav * {
  position: relative; /* Makes elements display above overlay. */
  color: black;
}

#CV .container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem 12.5%;
  width: 75%;
  height: 30rem;
  /* background-color: rgb(255, 227, 234); */
}

#CV .container #about-me {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0rem 2rem;
  line-height: 1.5rem;
}

/* #CV .container #about-me ul{
  list-style: none;
} */

#CV .container #about-me b{
  font-weight: bold;
}


#CV .container h1 {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 1rem;
  border: none;
}

/* #CV .button {
  background-color: rgba(255, 227, 234, 1);
  padding: 1rem;
  font-family: 'Cinzel';
  letter-spacing: 0.1rem;
  height: 3rem;
  width: 40%;
  border: thick double black;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
} */

#CV .box {
  padding: 1rem;
  height: 3rem;
  width: 40%;
}

#CV a .box:active {
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}


.image-container {
  overflow: hidden;
  width: 40%;
  height: 100%;
  /* width: 100%;
  height: inherit; */
}

.image-container img {
  background-color: purple;
  width: 100%;
  height: auto;
  /* height: auto; */
  display: block;
  margin: 0 auto;
}


#CV .text {
  margin: 0 auto;
  padding: 2rem 12.5%;
  font-size: 1rem;
  line-height: 1.5rem;
}

#CV h1 {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: thin dotted black;
  text-align: center;
}

#CV h2 {
  margin-top: 0.5rem;
  font-weight: bold;
}

#CV h3 {
  font-style: italic;
}

#CV ul {
  margin: 0.25rem 1rem;
	padding: 0;
	border: 0;
}

#CV li {
  margin: 0.1rem 0rem;
	padding: 0;
	border: 0;
}

#CV .docs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

#CV .links {
  padding: 2rem;
/*  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;*/
}

/* #CV .docs .box {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10rem;
  width: 10rem;
  margin: 1rem 3rem;
  border: thick double black;
  background-color: rgba(255, 227, 234, 1);
  padding: 1rem;
  font-family: 'Cinzel';
  letter-spacing: 0.1rem;
} */

#CV .docs .box {
  height: 10rem;
  width: 10rem;
  margin: 1rem 3rem;
  padding: 1rem;
}

.hide {
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s ease-in 0.05s;
}

.hide:hover {
  opacity: 0.5;
}

/* .text .item:hover {
  background-color: pink;
  display: block;
} */


/* .text .item .hide:target {
  display: block;
} */

@media only screen
/* and (min-width : 768px) */
and (max-width : 1024px)  {
  .content .name {
    font-size: 4rem;
    height: 6rem;
  }

  #CV .container {
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0rem;
    width: 100%;
    height: auto;
  }

  #CV .container #about-me {
    /* display: flex; */
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    width: 80%;
    /* height: 100%;
    margin: 0 2rem; */
    /* line-height: 1.5rem; */
  }

  .image-container {
    /* overflow: hidden; */
    width: inherit;
    height: auto;
    padding-top: 1rem;
  }

  .image-container img {
    max-width: 60%;
    height: auto;
    /* height: auto;
    display: block;
    margin: 0 auto; */
  }

}

@media only screen
and (max-width : 1250px) {
  #hidesmall {
    opacity: 0;
  }
}